form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #282828;
    border-radius: 5px;
    width: 300px;
    box-shadow: 1px 1px #282828;
    margin: 10px
}

.form-row {
    padding: 0.5em 0;
}

.form-row.error input {
    border-color: red;
}

.form-row.center {
    width: 100%;
    text-align: center;
}

form input {
    margin-left: 0.5em;
}

form form-row button {
    margin-top: 1em;
}

